.primary {
    color: #00507f;
}

.accent {
    color: #31a7c4;
}

h1 {
    color: #31a7c4;
}

nav {
    background-color: #00507f;
}

.page-footer {
    background-color: #00507f;
}

img {
    margin-top: 7px;
    margin-right: 8px;
}